{% extends 'base_n.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block extra_styles %}
  {{ block.super }}
  <link href="{% static 'core/css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container px-4 px-lg-5 pt-3">
    <form class="col-12 offset-md-2 col-md-8 offset-xl-3 col-xl-6" method="post" novalidate>
      {% csrf_token %}
      <h1>{% firstof header title %}</h1>
      <p class="text-info">
        {{ description }}
      </p>
      {% if form.non_field_errors %}
        <div class="text-danger">
          {% for error in form.non_field_errors %}{% if error != '' %}{{ error }}<br>{% endif %}{% endfor %}
        </div>
      {% endif %}
      {% for field in form %}
        <div class="mb-3">
          <label class="form-label" for="{{ field.name }}">{{ field.label }}</label>
          <input class="form-control{% if field.errors or form.non_field_errors %} is-invalid{% endif %}" type="{{ field.field.widget.input_type }}" id="{{ field.name }}" name="{{ field.name }}" {% if field.help_text %}aria-describedby="{{ field.name }}_help"{% endif %}>
          {% if field.help_text %}
            <div class="form-text" id="{{ field.name }}_help">{{ field.help_text }}</div>
          {% endif %}
          {% if field.errors %}
            <p class="text-danger small">
              {% for error in field.errors %}{% if error != '' %}{{ error }}<br>{% endif %}{% endfor %}
            </p>
          {% endif %}
        </div>
      {% endfor %}
      <div>
        <button class="btn btn-outline-light text-dark-emphasis border-2 w-100 mt-3" type="submit">{% firstof submit header title %}</button>
      </div>
    </form>
  </div>
{% endblock %}